spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/samofujera
    username: dev
    password: dev
  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: localhost
    port: 1025
