---
import PublicLayout from "../../layouts/PublicLayout.astro";
import CatalogApp from "../../components/catalog/main";

export const prerender = true;

export function getStaticPaths() {
  return [{ params: { slug: undefined } }];
}
---

<PublicLayout title="Katalog">
  <div class="max-w-7xl mx-auto py-4">
    <CatalogApp client:only="react" />
  </div>
</PublicLayout>
