---
import PublicLayout from "../layouts/PublicLayout.astro";
---

<PublicLayout
  title="Obchodní podmínky"
  fullTitle
  description="Jaké jsou mé obchodní podmínky na stránkách Sámo Fujera"
>
  <section
    class="bg-repeat px-6 sm:px-12 lg:px-16 pt-[81px] sm:pt-[97px] pb-12 sm:pb-16 text-center"
    style="background-image: url('/images/bg-body-texture.png');"
  >
    <div class="max-w-[935px] mx-auto px-5">

      <section>
        <h2 class="public-h2-sm pb-3.5">
          Obchodní podmínky
        </h2>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          1. Úvodní ustanovení
        </h2>
        <p class="public-body-110 text-justify">
          Tyto obchodní podmínky upravují smluvní vztah mezi prodávajícím (Sámo Fujera, K&nbsp;Řece 304, 541 03 Trutnov, IČO: 45953961) a&nbsp;kupujícím při nákupu digitálního obsahu nebo služeb.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          2. Předmět plnění
        </h2>
        <div class="space-y-4 public-body-110 text-justify">
          <p>
            Nabízíme digitální produkty (záznamy přednášek, semináře, kurzy, brožury, meditace), přístup k&nbsp;digitálnímu obsahu a&nbsp;další produkty a&nbsp;služby.
          </p>
          <p>
            Veškerý obsah je určen pro osobní užití kupujícího.
          </p>
          <p>
            E-mailové konzultace jsou poskytovány za cenu 700 Kč, po zaplacení, s&nbsp;odpovědí v&nbsp;přiměřené lhůtě.
          </p>
        </div>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          3. Objednávka a&nbsp;uzavření smlouvy
        </h2>
        <p class="public-body-110 text-justify">
          Smlouva je uzavřena přijetím platby za objednávku.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          4. Ceny
        </h2>
        <p class="public-body-110 text-justify">
          Ceny jsou konečné. Nejsem plátce DPH.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          5. Dodání digitálního obsahu
        </h2>
        <p class="public-body-110 text-justify">
          Digitální obsah je dodáván e-mailem nebo formou stažení.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          6. Odstoupení od smlouvy
        </h2>
        <p class="public-body-110 text-justify">
          Právo na odstoupení od smlouvy do 14 dnů zaniká okamžikem zpřístupnění digitálního obsahu.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          7. Reklamace
        </h2>
        <p class="public-body-110 text-justify">
          V&nbsp;případě technických problémů s&nbsp;obsahem nás prosím kontaktujte a&nbsp;zajistíme nápravu.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          8. Autorská práva
        </h2>
        <p class="public-body-110 text-justify">
          Veškerý obsah je chráněn autorským právem. Jakékoli šíření nebo kopírování bez souhlasu je zakázáno.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          9. Povaha služeb
        </h2>
        <p class="public-body-110 text-justify">
          Poskytované služby mají informační, vzdělávací a&nbsp;osobnostně-rozvojový charakter.
        </p>
      </section>

      <hr class="border-black/20 -mx-20 mt-5 mb-5" />

      <section>
        <h2 class="public-h2-sm pb-3.5">
          10. Ochrana osobních údajů
        </h2>
        <p class="public-body-110 text-justify">
          Ochrana osobních údajů se řídí našimi <a href="/pravidla-ochrany-soukromi">Zásadami ochrany osobních údajů</a>.
        </p>
      </section>

    </div>
  </section>
</PublicLayout>
