---
import PublicLayout from "../layouts/PublicLayout.astro";
import { LoginForm } from "../components/LoginForm";
---

<PublicLayout title="Přihlášení">
  <div class="max-w-md mx-auto mt-16 p-6">
    <LoginForm client:load />
  </div>
</PublicLayout>
