---
import PublicLayout from "../layouts/PublicLayout.astro";
import { ResetPasswordForm } from "../components/ResetPasswordForm";
---

<PublicLayout title="Obnovení hesla">
  <div class="max-w-md mx-auto mt-16 p-6">
    <ResetPasswordForm client:load />
  </div>
</PublicLayout>
