---
import PublicLayout from "../layouts/PublicLayout.astro";
import { ForgotPasswordForm } from "../components/ForgotPasswordForm";
---

<PublicLayout title="Zapomenuté heslo">
  <div class="max-w-md mx-auto mt-16 p-6">
    <ForgotPasswordForm client:load />
  </div>
</PublicLayout>
